
/* Image ronde */ 
img{     
    width: 300px;     
    height: 300px;    
    border-radius: 200px; 
 }

.image{
  display:inline-block;
  float: left; 
  align-items: center;

}

.image-item{
    width: 200x;
    height: 200px;

}

.image-description{
    color: #f99797
    
}


  
